body {
    text-align: center;
}

.calculator {
    
    display: flex;
    justify-content: center;
    
}
.container {
    width: 400px;
    height: 400px;
    background-color: red;
    margin-top: 100px;
}
.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
 }



.calculator-button {
    text-align: center;
    font-size: 20px;
    /* width: 100px;*/
    /* height: 100px;  */

    
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

.backspace {
    grid-column-start: 3;
    grid-column-end: 5;
}