body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calculator {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: grey;
    min-height: 700px;
    border-radius: 10%;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
}

#display {
    background-color: black;
    padding: .2em;
    font-size: 4rem;
    text-align: right;
    color: white;
}

.buttons-grid {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(4, 1fr);
}

.calculator-button {
    text-align: center;
    font-size: 20px;
}

.span-2 {
    grid-column: span 2;
}

.operator {
    background-color: orange;
}

button {
    outline: none;
    border-radius: 5%;
}